:root{
    --primario: #9c27b0;
    --primarioOscuro: #89119d;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233, 287, 2);
    --blanco: #ffffff;
    --negro: #000000;

    --fuentePrincipal: 'Staatliches', cursive;
}