:root{
    --primario: #9c27b0;
    --primarioOscuro: #89119d;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233, 287, 2);
    --blanco: #ffffff;
    --negro: #000000;

    --fuentePrincipal: 'Staatliches', cursive;
}

/* Las siguentes lineas de  codigo CSS haran que 1rem valga 10px */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}


/* Para que el scroll snap funcione correctamente */
*:before, *:after {
    box-sizing: inherit;
}


/* Globales */
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1{font-size: 4rem;}
h2{font-size: 3.2rem;}
h3{font-size: 2.4rem;}

/* Header */
.header{
    display: flex; /* Para centrar el logo */
    justify-content: center; /* Para centrar el logo */
}

.header__logo{
    margin: 3rem 0; /* Margen superior e inferior de 3rem, sin margen a los lados */
}

/* Navegacion */

.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion__enlace{
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
    transition: color .3s ease;
}

/* Footer */
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;    
    margin-top: 2rem;
}

.footer__texto{
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
    text-align: center;
}